<html>
  <body>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <div id="app">
      <input type="text" v-model="tache" />
      <input type="button" @click="ajouterTache" value="ajouter" />
      <ul>
        <li v-for="todo in todos">
          {{ todo }}
        </li>
      </ul>
      <div v-if="todos.length >= 5">
        Attentation à la surcharge
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: { todos: [], tache: "" },
        methods: {
          ajouterTache: function () {
            this.todos.push(this.tache);
            this.tache = "";
          }
        }
      });
    </script>
  </body>
</html>
